apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-devops-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-devops-app
  template:
    metadata:
      labels:
        app: my-devops-app
    spec:
      containers:
      - name: my-devops-app
        image: testdevopsmiapp.azurecr.io/my-devops-app:latest
        ports:
        - containerPort: 8000
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 15
          timeoutSeconds: 2
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          timeoutSeconds: 2
        envFrom:
        - configMapRef:
            name: my-devops-app-config
        - secretRef:
            name: my-devops-app-secret
---
apiVersion: v1
kind: Service
metadata:
  name: my-devops-app-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8000
  selector:
    app: my-devops-app
