apiVersion: apps/v1
kind: Deployment
metadata:
  name: mi-aplicacion-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mi-aplicacion
  template:
    metadata:
      labels:
        app: mi-aplicacion
    spec:
      containers:
      - name: mi-aplicacion
        image: devops-image:latest
        ports:
        - containerPort: 6443
        livenessProbe:
          httpGet:
            path: /health
            port: 6443
          initialDelaySeconds: 15
          timeoutSeconds: 2
        readinessProbe:
          httpGet:
            path: /health
            port: 6443
          initialDelaySeconds: 5
          timeoutSeconds: 2
        envFrom:
        - configMapRef:
            name: mi-aplicacion-config
        - secretRef:
            name: mi-aplicacion-secret
---
apiVersion: v1
kind: Service
metadata:
  name: mi-aplicacion-service
spec:
  type: LoadBalancer
  ports:
  - port: 6443
    targetPort: 6443
  selector:
    app: mi-aplicacion
