name: CI/CD Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install coverage

    - name: Run Unit Tests with Coverage
      run: |
        coverage run manage.py test api

    - name: Generate Coverage Report
      run: |
        coverage xml

    - name: Static Code Analysis
      uses: github/super-linter@v4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Code Coverage
      uses: codecov/codecov-action@v1
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: true

    - name: Build and Push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: devops-app:latest

    - name: Vulnerability Analysis
      uses: anchore/scan-action@v3
      with:
        image-reference: "user/app:latest"
        fail-build: true

    - name: Deploy to Kubernetes
      uses: azure/k8s-deploy@v1
      with:
          kubeconfig: ${{secrets.KUBE_CONFIG}}
          namespace: default
          images: 'devops-app:latest'
          manifests: 'kubernetes-deployment.yml'